AllowOverride None
Options -ExecCGI -Indexes -All

# BEGIN Blacklist
# Blacklist addresses
# END Blacklist

# BEGIN Spiders
# Search spiders
# END Spiders

# BEGIN Port
# Change to HTTPS
# END Port

# BEGIN Hotlink
# Prevent hotlinking
# END Hotlink

# BEGIN Method
# Prevent some methods
# END Method

# BEGIN Filename
# Check if file is available
# END Filename

# BEGIN Include
# Prevent Include folder
# END Include

<Files wp-config.php>
order allow,deny
deny from all
</Files>

<Files xmlrpc.php>
order allow,deny
deny from all
</Files>

<Files .htaccess>
 order allow,deny
 deny from all
</Files>
